@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

:root {
  --font-family-1: "Open Sans", sans-serif;
  --font-family-2: "Poppins", sans-serif;

  --color-1: #6a983c;
  --color-2: #151515;
  --color-3: #a9a9a9;
  --color-4: #575757;
  --color-white: #fff;
  --color-black: #000;
  --color-5: #f5f5f5;

  --bg-color-1: #6a983c;
  --bg-color-2: #151515;
  --bg-color-3: #a9a9a9;
  --bg-color-4: #575757;
  --bg-color-white: #fff;
  --bg-color-black: #000;
  --bg-color-5: #f5f5f5;

  --border-color: #46760a;

  --border-radius: 12px;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.inner {
  padding: 0 45px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: var(--bg-color-white);
}

.header {
  width: 100%;
}

.header__top {
  width: 100%;
  margin: 0 auto;

  padding: 16px 0;
  border-bottom: 1px solid #15151550;
}

.top__link-box {
  width: auto;
  padding: 0;
}

.top__list {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.top__item {
  padding: 0;
}

.top__item:not(:nth-child(3)) {
  margin-right: 33px;
}

.top__link {
  font-family: var(--font-family-1);
  font-size: 12px;
  line-height: 16px;

  color: var(--color-2);

  text-decoration: none;
}

.top__link:hover {
  color: var(--color-1);
}

.top__link-act {
  color: var(--color-1);
}

.top__nav-box {
  padding: 0;
  margin: 0;
}

.top__nav-box {
  width: auto;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav__item {
  padding: 0;
}

.nav__item:not(:nth-child(3)) {
  margin-right: 38px;
}

.nav__link {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: var(--color-1);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--color-1);
}

.navbar-toggler {
  padding: 5px 10px;
  font-size: 20px !important;
}

.header__content {
  padding: 0;
  margin: 0 auto;

  padding: 40px 0;
}

.content__logo-box {
  width: auto;
  padding: 0;
}

.content__logo-link {
  text-decoration: none;
}

.content__search-box {
  width: auto;
}

.search__form {
  background: #f9f9f9;

  border: 1px solid #d1d1d1;
  border-radius: var(--border-radius);

  padding: 5px 16px;
}

.dropdown {
  padding: 0;
}

.form__drop-btn {
  width: 140px;
  font-family: var(--font-family-2);
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  color: var(--color-2);
  margin-right: 64px;
}

.form__drop-btn .bx {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-1);
}

.form__input {
  width: auto;
  font-size: 14px;
  line-height: 19px;

  color: var(--color-3);
  background: transparent;

  padding-left: 24px;
  border: none;
  outline: none;

  border-left: 1px solid #d1d1d1;

  flex-grow: 1;
}

.search-btn {
  width: 16px;
  height: 16px;
  font-size: 20px;

  display: flex;
  align-items: center;
}

.search-btn .bx {
  display: inline-block;
}

.content__btn-box {
  width: auto;
  padding: 0;
  margin: 0;
}

.btns__btn {
  padding: 0;
  width: auto;
  font-size: 28px;
  margin-left: 35px;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.accordion {
  display: none;
}

.accordion-button {
  padding: 15px;
}

@media screen and (max-width: 990px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav__item {
    width: auto;
  }

  .nav__item:not(:nth-child(3)) {
    margin-right: 0;
  }
}

@media screen and (max-width: 880px) {
  .header__content {
    flex-direction: column;
    padding-bottom: 0;
  }

  .header__content > div {
    margin-bottom: 20px;
  }

  .content__btn-box .btns__btn {
    margin-left: 0;
    margin: 0 10px;
  }
}

@media screen and (max-width: 660px) {
  .top__list {
    flex-direction: column;
  }

  .top__item:not(:nth-child(3)) {
    margin-right: 0;
    margin-right: auto;
  }
}

@media screen and (max-width: 470px) {
  .dropdown {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .form__input {
    padding-left: 0;
    border-left: none;
  }
}

@media screen and (max-width: 370px) {
  .header__top {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    display: block;
  }

  .top__item:not(:nth-child(3)) {
    margin-right: 0;
  }
}

/* MAIN PART  */

.dropdowns-box {
  background: #f9f9f9;
}

.drop__inner {
  padding-top: 16px;
  padding-bottom: 16px;
  background: #f9f9f9;
}

.drop__list {
  list-style-type: none;
}

.drop__item {
  padding: 0;
  margin-right: 40px;
}

.drop__btn {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: var(--color-2);
}

.drop__btn .bx {
  color: var(--color-1);
  font-weight: bold;
}

/* COTEGORY PART  */

.products__inner {
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0;
}

.cotegory__menus-box {
  margin: 0;
  padding-bottom: 65px;
}

.cotegor__menus {
  padding: 0;
  margin: 0;
}

.co-menu__title {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: var(--color-2);
  margin-bottom: 16px;
}

.co-menu__list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 48px;
}

.co-menu__link {
  font-family: var(--font-family-1);
  font-size: 14px;
  line-height: 19px;

  text-decoration-line: underline;

  color: var(--color-1);
}

.co-menu__btn {
  font-family: var(--font-family-2);
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  color: var(--color-2);
  background: #f5f5f5;
  border-radius: var(--border-radius);
  display: inline-block;

  text-decoration: none;

  padding: 13px 16px 13px 16px;
}

.co-menu__btn .bx {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  top: 4px;
}

.cotegor__img-box {
  padding: 0;
  margin: 0;
}

.co-img__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.co-img__item {
  width: 50%;
  margin: 0;
}

.co-img__item:nth-child(2) {
  padding-right: 0;
}

.co-img__item-box {
  max-width: 420px;
  padding: 48px 32px 32px;
  background-image: url("../imgs/contegory-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius);
}

.img-box__tit {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: var(--color-1);
  margin-bottom: 8px;
}

.img-box__title {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;

  color: var(--color-2);
  margin-bottom: 94px;
}

.img-box__btn {
  font-family: var(--font-family-2);
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  color: var(--color-2);
  background: transparent;
  border: 2px solid #92c064;
  border-radius: var(--border-radius);

  text-decoration: none;

  padding: 12px 16px 12px 16px;
}

.img-box__btn .bx {
  color: var(--color-1);
  position: relative;
  font-size: 20px;
  font-weight: bold;
  top: 4px;
}

@media screen and (max-width: 880px) {
  .cotegory__menus-box {
    flex-direction: column;
  }

  .cotegory__menus-box > div {
    width: 100%;
  }

  .cotegor__menus {
    padding-left: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .co-img__list {
    flex-direction: column;
  }

  .co-img__list > li {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .co-img__item-box {
    max-width: 100%;
  }
}

.produc__shop-box {
  padding: 0;
  margin: 0;
}

.products__menus {
  padding: 65px 0;
  margin: 0;
}

.products__menus:nth-child(3) {
  padding-bottom: 0;
}

.produc__box {
  padding: 0;
  margin: 0;
}

.pro-shop__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pro-shop__item {
  padding: 0 11px;
  margin: 0;
}

.pro-shop__item-box {
  position: relative;
  padding: 16px;

  background: var(--bg-color-white);

  border: 1px solid #d1d1d1;
  border-radius: var(--border-radius);

  overflow: hidden;
}

.shop-item__img-span {
  position: absolute;
  top: 28px;
  left: 28px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: var(--color-1);
  background: #f4f8ec;
  border-radius: var(--border-radius);
  padding: 0 8px;
  z-index: 2;
}

.shop-item__img-box {
  max-width: 100%;
  height: 180px;
  background: #f9f9f9;
  border-radius: var(--border-radius);

  margin-bottom: 16px;
  overflow: hidden;
  object-fit: cover;
}

.shop-item__img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.shop-item__title {
  font-family: var(--font-family-2);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: var(--color-2);
  margin-bottom: 4px;
}

.shop-item__text {
  font-family: var(--font-family-1);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: var(--color-4);
  margin-bottom: 16px;
}

.shop-buy__mony {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: var(--color-2);
  margin-bottom: 0;
}

.shop-buy__mony-tit {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  text-decoration-line: line-through;

  color: var(--color-3);
}

.shop-buy__btn {
  height: 36px;

  font-family: var(--font-family-2);
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  color: var(--bg-color-white);
  background: #6a983c;

  padding: 7px 12px;

  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

@media screen and (max-width: 880px) {
  .produc__box {
    flex-direction: column;
  }

  .produc__shop-box {
    width: 100%;
  }

  .pro-shop__item {
    margin-bottom: 20px;
  }

  .cotegor__menus {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .pro-shop__list {
    flex-direction: column;
  }

  .cotegor__menus {
    width: 100%;
  }

  .pro-shop__item {
    width: 100%;
  }

  .shop-item__img-box {
    max-width: 100%;
  }
}

/* CAROUSEL PART  */

.slider__box {
  width: 100%;
  margin: 0 auto;
  padding: 65px 0;
  /* padding-left: 15px; */
}

.slider__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: var(--color-2);
  padding: 0;
}

.slider__btn {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  color: var(--color-2);
}

.slider__content {
  max-width: 370px;
  text-align: center;

  padding: 24px 32px;

  background: var(--bg-color-5);
  border: 1px solid #f1f1f1;
  border-radius: var(--border-radius);
}

.slider__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-align: center;

  color: var(--color-2);
}

.slider__img {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider__list {
  list-style-type: none;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .slider__list {
    flex-direction: column;
  }

  .slider__item {
    width: 100%;
  }

  .slider__content {
    max-width: 100%;
    margin-bottom: 50px;
  }
}

.head__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

@media screen and (max-width: 990px) {
  .head__list > li {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 750px) {
  .head__list {
    display: flex;
  }

  .head__list > li {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .head__list {
    flex-direction: column;
  }

  .head__list > li {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* BLOG PART  */

.blog__left {
  max-width: 470px;
  height: auto;

  padding: 24px;
  border-radius: var(--border-radius);

  background-image: url("../imgs/blog-img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.left-con__title {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;

  color: #fff;
  margin-top: 230px;
}

.left-con__user-tit {
  font-family: var(--font-family-1);
  font-size: 12px;
  line-height: 16px;
}

.blog__cenetr {
  max-width: 270px;
  height: auto;
}

.cen-con__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: var(--color-2);
}

.rig-con__title {
  font-family: var(--font-family-2);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: var(--color-2);
}

.blog__right {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.rig-con-img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  border-radius: var(--border-radius);
}

.blog-rifgt-res {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .blog__cenetr {
    display: none;
  }

  .blog__center-right-box {
    margin-left: auto;
  }

  .blog__right {
    height: 75px;
  }

  .blog-rifgt-res {
    display: flex !important;
  }

  .rig-con-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 950px) {
  .blog__main {
    flex-direction: column;
  }

  .blog__center-right-box > div {
    width: 50%;
  }

  .blog__left {
    max-width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .blog__cenetr {
    width: 50%;
    display: block;
  }

  .blog__center-right-box {
    margin-left: 0;
  }

  .blog__right-box {
    width: 50%;
    margin-left: auto;
  }

  .blog__right {
    height: auto;
  }

  .blog-rifgt-res {
    display: none !important;
  }
}

@media screen and (max-width: 650px) {
  .blog__center-right-box {
    flex-direction: column;
  }

  .blog__center-right-box > div {
    width: 100%;
  }

  .blog__cenetr {
    max-width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    text-align: center;
  }

  .cen-con-img {
    width: 80%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .blog__right {
    justify-content: space-between;
  }
}

/* FOOTER PART  */

.fo-menus__list,
.fo__item-list {
  list-style-type: none;
  padding: 0;
}

.fo__item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: var(--color-2);
}

@media screen and (max-width: 768px) {
  .fo-menus__list {
    display: flex;
    flex-wrap: wrap;
  }

  .fo-menus__item {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .fo-menus__list {
    flex-direction: column;
  }

  .fo-menus__item {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }
}

.tags__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: var(--color-2);
}

.tags__list {
  list-style-type: none;
  padding: 0;
}

.tags__item {
  padding: 0 8px;
  margin-bottom: 20px;
}

.tags__link {
  font-family: var(--font-family-2);
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: var(--color-2);
  text-decoration: none;
  background: var(--bg-color-5);
  border-radius: 12px;
  border-radius: var(--border-radius);

  padding: 4px 10px;
}

.footer__text {
  font-size: 14px;
}
